#middle-0{
    padding:50px 0;
    background-color: #eeeeee;
    background: -webkit-radial-gradient(circle,#eeeeee,#dddddd);
    background: -moz-radial-gradient(circle,#eeeeee,#dddddd);
    background: -o-radial-gradient(circle,#eeeeee,#dddddd);
    background: radial-gradient(circle,#eeeeee,#dddddd);
}

.input-steps{
    background-color: white;
    padding:50px;
    -webkit-box-shadow: 0 0 10px 0 rgba(27, 97, 159, 0.5);
    -moz-box-shadow: 0 0 10px 0 rgba(27, 97, 159, 0.5);
    box-shadow: 0 0 10px 0 rgba(27, 97, 159, 0.5);
}

.btn{
    font-size: 12px;
    padding:10px 20px;
    border:none;
    background-color: #1B619F;
    color: #eeeeee;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
}
.btn:hover{
    padding:10px 20px;
    border:none;
    cursor: pointer;
    background-color: #1F488A;
    color: #ffffff;
}

input[type='text']{
    width:100%;
    font-size: 12px;
    padding:10px 10px;
    border:1px solid #aaaaaa;
    border-radius: 5px;
    margin-bottom:10px;
}

#result-file-pick{
    /*width:470px;*/
}
#button-file-pick{
    vertical-align: middle;
}

.container-full-screen{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    min-width: 1200px;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.container-modal{
    margin:0 auto;
    position: relative;
    top:10px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.container-modal-lg{
    width:960px;
}
.container-modal-md{
    width:800px;
}
.container-modal-sm{
    width:640px;
}
.container-modal-head{
    width:100%;
    display: table;
    padding:10px 10px;
    background-color: #1B619F;
    color: #eee;
}
.container-modal-head>div{
    width:50%;
    display: table-cell;
    vertical-align: middle;
}
.container-modal-head>div.text-left{
    text-align: left;
}
.container-modal-head>div.text-right{
    text-align: right;
}
.container-modal-body{
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
}
.container-modal-foot{
    width:100%;
    display: table;
    padding:12px 10px;
    background-color: #eeeeee;
}
.container-modal-foot>div{
    width:50%;
    display: table-cell;
    vertical-align: middle;
}
.container-modal-foot>div.text-left{
    text-align: left;
}
.container-modal-foot>div.text-right{
    text-align: right;
}
.container-modal-foot .btn-right{
    margin-left: 10px;
}

.function-button{
    display: block;
    width:20px;
    height:20px;
    margin-left: 10px;
    vertical-align: baseline;
    float: right;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.function-button:hover{
    cursor: pointer;
}
#folder-parent{
    background-image: url("../image/back.png");
}
#folder-parent:hover{
    background-image: url("../image/back2.png");
}
#switch-display-type{
    background-image: url("../image/row-display.png");
}
.folder,.file{
    width:100px;
    float: left;
    margin:5px;
    padding:5px;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
}
.folder:hover,.file:hover{
    cursor: pointer;
    background-color: #23a1ff;
}
.folder-icon{
    display: block;
    width:50px;
    height:50px;
    margin:0 auto;
    margin-bottom: 5px;
    background-image: url("../image/folder.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.file-icon{
    display: block;
    width:50px;
    height:50px;
    margin:0 auto;
    margin-bottom: 5px;
    background-image: url("../image/file.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.folder-name,.file-name{
    display: block;
    width:100%;
    height:15px;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
}

.folder-or-file-row-view{
    width:100%;
    float: none;
    border-bottom: 1px solid rgba(27, 97, 159, 0.51);
    padding:0;
    margin:0;
    padding-left: 10px;
}
.folder-or-file-row-view span{
    display: inline-block;
}
.folder-or-file-row-view .f-icon{
    line-height: 50px;
    background-size: 35px 35px;
}
.folder-or-file-row-view .f-name{
    width:auto;
    height:auto;
    line-height: 50px;
    margin-left: 15px;
}