.wrap h3{
	color: #1D588D;
	text-align: center;
	font-size: 18px;
}
.wrap p{
	text-align: center;
}

.footer{
    width: 100%;
	min-width: 1100px;
	height: 40px;
	background-image: url('../images/1-HOME_05.png');
	text-align: center;
	color: #ffffff;
	line-height: 40px;
	font-size: 12px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 999;
}

.ui-widget-header{
	background: #11a3de url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;
	height: 35px;
	line-height: 25px;
}

.modal-title{
	text-align: center;
	color: #014984;
}
.close{
	opacity: 1;
}
.modal-footer{
	text-align: center;
}
.btn-default,.label-default{
	background-color: #11a3de;
	color: #ffffff;
}
.label-warning{
    background-color: #f07b05;
}