html,body{
    margin: 0 auto;
    /*background-color:#F5F8F9;*/
    background-color:transparent;
}
.wrap{
    margin: 0 auto;
    width:800px;
    min-width:600px;
}
.title{
    width:100%;
    height:100px;
    min-width:600px;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    font-weight: bolder;
    margin-top: 40px;
}
.left-logo{
    /*background-color:#F5F8F9;*/
    width: 30%;
    float: left;
    color: #999999;
}
.left-logo .logo{
    margin: 20px auto;
    width: 120px;
    height: 60px;
    border-radius: 5px;
    background-color: #999999;
    /*background-color:transparent;*/
    line-height: 60px;
    margin-left: 10px;
}
.logo p{
    margin-left: 140px;
    font-weight: bold;
    font-size: 16px;
}
.left-logo .logo:first-child{
    margin-top: 40px;
}
.left-logo .logo:last-child{
    margin-bottom: 40px;
}
.right-opt{
    width: 70%;
    float: left;
    /*background-color: #ffffff;*/
    background-color:transparent;
    padding-bottom: 40px;
    padding-right:30px;
}
.row{
    margin-left: 40px;
    margin-right: 0px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}
.col-md-6{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 40px;
}
.login a{
    color: #F79440;
}
.register a{
    color: #000000;
}
.login a:hover, .register a:hover{
    text-decoration: none;
}
.right-input{
    text-align: center;
    margin: 30px 0px;
}
.input-text{
    width: 334px;
    height: 50px;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 16px;
    padding-left: 15px;
    border: 1px solid #000;
}
.input-btn{
    width: 334px;
    height: 50px;
    border-radius: 5px;
    margin-left: 125px;
    background-color: #1b6ea4;
    color: #ffffff;
    border: 0;
}
.forgetPwd{
    margin-top: -15px;
    margin-left: 340px;
    font-size: 16px;
    color: #00a2d2;
}
#forgetPwd, #forgetPwd:hover{
    cursor: pointer;
    text-decoration: none;
}
.intro{
    text-align: center;
    margin-top: 5px;
    margin-left: 50px;
}
.footer{
    border-top: 1px solid #999999;
    bottom:0px;
    position:fixed;
    width:100%;
    min-width: 1100px;
    height: 40px;
    background-color: #F5F8F9;
    /*background-color:transparent;*/
    text-align: center;
    color: #000000;
    line-height: 40px;
    font-size: 12px;
    overflow:hidden;
}
input::-webkit-input-placeholder { /* WebKit browsers*/ 
　　color:#999;font-size:16px;opacity:0.5;
　　}
input:-moz-placeholder {  /* Mozilla Firefox 4 to 18*/ 
　　color:#999;font-size:16px;opacity:0.5;
　　}
input::-moz-placeholder {  /* Mozilla Firefox 19+*/ 
　　color:#999;font-size:16px;opacity:0.5;
　　}
input:-ms-input-placeholder { /* Internet Explorer 10+*/ 
　　color:#999;font-size:16px;opacity:0.5;
}
#checkEmail,#checkPwd{
    margin: -20px 0;
    text-align: center;
    color: #ff0000;
    padding-left: 40px;
}
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 600px;
  top: 0;
  background-color: #F5F8F9;/*#b61924;*/
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}
/*激活邮箱*/
.activeEmail {
    width: 200px;
    margin-top: -15px;
    margin-left: 125px;
    font-size: 16px;
    color: #00a2d2;
    float: left;
}
#activeEmail{
    color: #337ab7;
    cursor: pointer;
    text-decoration: none;
}