.wrap{margin:0 auto;width: 1100px;margin-top: 42px;}
#tab {overflow:hidden;background:#eee;border:1px solid #eee;}
#tab li {float:left;color:#000;height:40px;	cursor:pointer;	line-height:40px;padding:0 20px;list-style-type: none}
#tab li.current {color:#fff;background:#71A9D2;}
#content {border:1px solid #eee;border-top-width:0;margin-top: -10px;padding:30px;}
#content ul {line-height:25px;display:none;	margin:0 1px;padding:1px 1px;}